.page-background {
    background-image: url('/images/background-imej.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  /*  z-index: -1;*/
}
